body {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 242, 240);
  }
  .product-search {
    position: absolute;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 40px;
    margin: 0 auto;
    box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
    cursor: pointer;
    top: 30px;
    left: 250px;
    width: 800px;
    font-family: 'Roboto', sans-serif;
  }
  .search-element {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    border-right: 1px solid rgba(10,10,10,.1);
    padding: 1em;
  }
  .search-label {
    font-weight: 700;
  }
  .search-input {
    border: none;
    appearance: none;
    outline: none;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 5px;
  }
  .search-input:focus {
    box-shadow: 0px 2px 0px 0px rgb(231, 231, 231);
  }
  .search-button {
    display: inline-block;
    flex-grow: 1;
    height: 80px;
    line-height: 80px;
    padding: 0 2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
    border: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    color: white;
    background-color: rgb(255, 144, 125);
    transition: background-color 0.8s ease;
  }
  .search-button:hover {
    background-color: HSLA(345, 100%, 60%, 1.00);
  }
  .logo{
    width: 100px;
    margin-top: 10px;
    padding-left: 5px;
    box-shadow: 5px 5px 6px -1px rgb(231, 231, 231);
  }
   .nav-btn{
     position: absolute;
     top: 30px;
    left: 1100px;
    padding: 30px;
  }

.nav_btn{
  margin-left: 1200px;
  margin-top: -50px;
  font-size: 1.2em;
}

.btn_ins{
  margin-right: 50px;
}

.card {
  background-position: center;
  background-size: cover;
  width: 900px;
  height: 500;
  border-radius: 1rem;
  margin-left: 350px;
}

.card_1{
  min-height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.details {
  margin-top: 60%;
  display: flex;
  justify-content: center;
  background-color: #ffffff10;
  border-top: 1px solid #ffffff30;
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(0.75rem);
  backdrop-filter: blur(0.75rem);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1rem;
  font-family: Lato, sans-serif;
}

.content h1 {
  color: black;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.content p {
  color: black;
  margin-bottom: 1.5rem;
  text-align: center;
}

.content a {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  color: #000000bb;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75rem 4rem;
  border: 1px solid #ffffff00;
  border-radius: 0.5rem;
  background-color: #ffffffdd;
  box-shadow: 0 0.5rem 10px #00000025;
  transition: ease 0.5s;
}

.content a:hover {
  border: 1px solid #00000050;
  transform: translate(0, -0.2rem);
}

.card.one {
  background-image: url("https://images.unsplash.com/photo-1633538475696-a93e30810e09");
}

.give_me{
  font-size: 20px;
  color: darkorange;
  text-shadow: saddlebrown -2px 2px;
  margin-left: 300px;
}

.beer{
  font-size: 50px;
  cursor: pointer;
  filter: none;
  margin-left: 500px;
  margin-bottom: 200px;
}
