.cardshow {
  background-position: center;
  background-size: cover;
  box-shadow: 6px 9px 10px 0px rgba(0,0,0,0.47);
  display: flex;
  width: 800px;
  height: 500px;
  border-radius: 1rem;
  margin-top: 120px;
}
.show-card{
  width: 100%;

}
