
body {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 242, 240);
  }

.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  padding-left: 40px;
  margin-top: 100px;
  margin-bottom: 20px;
  padding-right: 40px;
}
.price{
  position: relative;
  display: flex;
  right: 20px;
  top: -55px;
  align-items: center;
  size: 24px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.card-trip .card-trip-infos:hover {
  opacity: 0.5;
  cursor: pointer;

}


.card-trip{
  border-radius: 10px;
  box-shadow: 6px 9px 10px 0px rgba(0,0,0,0.47);
}



@media (min-width: 100px) and (max-width: 575px) {
  .cards{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .cards{
    grid-template-columns: 1fr;
  }
}


@media (min-width: 768px) {
  .cards{
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 992px) {
  .cards{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
