.cardshow{
  margin-top: 200px;
}
.card-show-infos{
  height: 100px;
  background-color: #F4F4F4;
}

.showname{
font-size: 60px;
}

.showp{
  text-align: right;
}

.card-show-pricing{
  margin-top: 500px;
}
