.details {
  display: flex;
  justify-content: center;
  background-color: #F4F4F4;
  border-top: 1px solid #ffffff30;
  border-radius: 1rem;
  box-shadow: 6px 9px 10px 0px rgba(0,0,0,0.47);
  width: 800px;
  margin-left: 380px;
}
