.reservation-layout{
  background-color: aqua;
  width: 70%;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.pop-up{
  display: flex;
  margin-left: 28%;
  margin-top: 30px;
}

.reservation-layout h2{
  margin-right: 40%;
}
